//Articles List
.article-content .menu.simple li:last-child {
	margin-right:0;
}

.article-content .menu.simple .button {
	padding: 1em;
}


//Comments List

.comment {
	margin-bottom: 20px;
}

.avatar {
	float:left;
	width: 50px;
	margin: 0px 10px 10px 0px;
}

.commenter {
	font-size: $small-font-size;
}