//Articles List
.full-article {
	border-bottom: solid 3px map-get($foundation-palette, primary);
	margin-bottom: 2em;
}

.article-content .menu.simple li:last-child {
	margin-right:0;
}

.like, .liked {
	padding: 1em;
}

.like {
	background-color: $white;
    border: solid 1px map-get($foundation-palette, primary);
    color: map-get($foundation-palette, primary);
    font-weight: bold;
    &:hover {
    	background-color: map-get($foundation-palette, primary);
    }
    &:focus {
    	background-color: $white;
    	color: map-get($foundation-palette, primary);
    }
}


//Comments List

.comment {
	margin-bottom: 20px;
}

.avatar {
	float:left;
	width: 50px;
	margin: 0px 10px 10px 0px;
}

.commenter {
	font-size: $small-font-size;
}