.no-js {
  @include breakpoint(medium down) {
    .menu-bar {
      display: none;
    }
  }

  @include breakpoint(large) {
    .title-bar {
      display: none;
    }
  }
}


header {
	margin-bottom: 1em;
}

.top-bar, .menu-bar, .top-bar ul {
	background-color: $black;
	color: $white;
}

.top-bar {
	padding: 0.2rem 0.5rem 0.2rem 1.2rem;
}

.top-bar a {
	color: $white;
}

.top-bar .top-bar-left, .top-bar .top-bar-right {
	width:auto;
}

.top-bar .top-bar-right {
	padding-top: 4px;
}

.logo a {
	font-family: 'Delius', cursive;
	font-size: 28px;
	color: $light-gray;
}

.top-bar input {
	margin-right: 0.7em;
	margin-bottom: 0;
	width: 100px;
	height: auto;
}

.stripe {
	
	@extend .callout;
	margin-bottom: 0rem;
	background: url('../img/faces.jpg');
	border-top: solid 6px $light-gray;
	border-bottom: solid 6px $light-gray;

	.eslogan {
		font-size: 1.25em;
		font-family: 'Gloria Hallelujah', cursive;

		strong {
			color: $primary-color;
		}

		@include breakpoint(medium only) {
		  font-size: 1.75em;
	  	}

	  	@include breakpoint(large) {
		  font-size: 2.25em;
	  	}
	}
}

.large.stripe {
	@include breakpoint(small only) {
	  padding: 1em 1em;
  	}
}

.menu-bar {
	@extend .top-bar;	
	padding: 0.5rem;
	margin-bottom: 1rem;

	.top-bar-right {
		width: auto;
	}

	a:hover {
		background-color:$light-gray;
		color: $black;
	}
}

.menu-bar, .menu-bar ul {
	background-color: $dark-gray;
}


