{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>MyPoint. Mi punto de vista</title>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Delius" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>

    <header id="top">
      <div class="top-bar">
        <div class="top-bar-left">
          <div class="logo"><a href="index.html" title="Inicio">MyP&oslash;int</a></div>
        </div>
        <div class="top-bar-right">
          <nav>
            <ul class="menu">
              <li><a href="#">Login</a></li>
              <li><a href="#">Registro</a></li>
            </ul>
          </nav>
        </div>
      </div>

      <div class="stripe large primary">
        <div class="row column text-center">
          <p class="eslogan">¿Un punt&oslash; de vista cualquiera? N&oslash;. <strong>MiPunt&oslash;</strong>.</p>
        </div>
      </div>

      <div class="title-bar" data-responsive-toggle="categories-menu" data-hide-for="large">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">Menu</div>
      </div>
      <div class="menu-bar" id="categories-menu">
        <div class="top-bar-left">
          <nav>
            <ul class="vertical large-horizontal menu">
              <li><a href="#">Economía</a></li>
              <li><a href="#">Ciencia</a></li>
              <li><a href="#">Tecnología</a></li>          
              <li><a href="#">Ocio</a></li>
              <li><a href="#">Deportes</a></li>
              <li><a href="#">Cultura</a></li>
              <li><a href="#">Estilo</a></li>          
            </ul>
          </nav>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li><input type="search" id="search" name="search" placeholder="Buscar"></li>
            <li><button type="button" class="button">Buscar</button></li>
          </ul>    
        </div>
      </div>
    </header>

    {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
    {{> body}}

    <footer class="page-footer">
      <div class="top-bar">
        <div class="top-bar-left">
          <div class="logo">MyP&oslash;int</div>
        </div>
        <div class="top-bar-right">
          <nav>
            <ul class="menu">
              <li><a href="#top">Ir arriba &uarr;</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>

    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>